<div class="resource flex-column exp">
    <label for="data.data.exp" class="resource-label">{{localize "WOD20.exp.experience"}}</label>
    <div>
        <div class="resource-content flexrow flex-center flex-between">
            <div>
                <label>{{localize "WOD20.exp.spent"}}</label>
                <input type="number" name="data.exp.value" value="{{data.data.exp.value}}" data-dtype="Number" />
            </div>
            &nbsp
            <div>
                <label>{{localize "WOD20.exp.total"}}</label>
                <input type="number" name="data.exp.max" value="{{data.data.exp.max}}" data-dtype="Number" />
            </div> 
        </div>
    </div>
</div>