<div class="flex-column flex-between">
    <div>
        <label for="data.data.humanityLabel.value" class="resource-label" 
        data-label="{{localize 'VTM5E.RollingRemorse'}}"
        >   
            <input  name="data.humanityLabel.value" value="{{data.data.humanityLabel.value}}" />
        </label>
    </div>
    <div>
        <div class="resource-content flexrow flex-center flex-between">
            <div 
            class="resource-counter" 
            data-states="x:value" 
            data-max="{{data.data.humanity.max}}" 
            data-value="{{data.data.humanity.value}}"  
            data-name="data.humanity">
                {{#numLoop 10}}
                <span 
                class="resource-counter-step" 
                data-index="{{this}}" 
                data-state=""></span>
                {{/numLoop}}
            </div>
        </div>
    </div>
    <div>
        <label>Bearing: {{turnblood}}</label>
    </div>
</div>