<div class="profile-img-zone">
    <div class ="heading">{{ sheetType }}</div>
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" width="250"
        alt="Profile Image" />
    <button class="lock-btn">
        {{#if locked}}
        <i class="fa fa-lock"></i>
        {{ else }}
        <i class="fa fa-lock-open"></i>
        {{/if}}
    </button>
    <div class="button-section">
        <button class="vrollable" type="text" name="frenzy" data-roll="{{data.data.virtues.selfControl.value }}" data-name="frenzy" data-noability="true"  data-label="{{localize 'VTM5E.ResistingFrenzy'}}" >
        {{localize "VTM5E.Frenzy"}}</button>
        <button class="vrollable" type="text" name="rötschreck" data-roll="{{data.data.virtues.courage.value}}" data-name="rotschreck" data-noability="true" data-label="{{localize 'VTM5E.ResistingRötschreck'}}" >
        {{localize "VTM5E.Rötschreck"}}</button>
            </div>
</div> 